.head{
  margin-top: 250px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
text-decoration: overline;
background-image: linear-gradient(red,rgb(45, 45, 190));
-webkit-background-clip: text;
color:transparent;
letter-spacing: 1.5px;
transition: all 0.5s;




}
.head:hover{
  transform: skewX(-7deg) skewY(-15deg) scale(1.4);
  text-shadow: .5rem 1rem 2rem rgba(#000,.4);
}
h1,h2{
  text-align: center;
}
